# Environment variables
.env
.venv

# Virtual env
myenv/

# Logs
logs/
*.log

# Node modules
node_modules/

# Build directory
/dist

# Other common directories and files to ignore
.DS_Store
Thumbs.db
